<hspace [amount]="10"></hspace>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h1>{{ 'AUTH.LOGIN' | translate }}</h1>
      <form [formGroup]="loginForm"
            (ngSubmit)="login()">
        <mat-form-field class="mr-3 d-block"
                        color="primary"
                        appearance="outline">
          <mat-label>{{ 'AUTH.EMAIL' | translate }}</mat-label>
          <input type="email"
                 matInput
                 placeholder="{{ 'AUTH.EMAIL' | translate }}"
                 formControlName="email">
        </mat-form-field>

        <mat-form-field class="mr-3 d-block"
                        color="primary"
                        appearance="outline">
          <mat-label>{{ 'AUTH.PASSWORD' | translate }}</mat-label>
          <input type="password"
                 matInput
                 placeholder="{{ 'AUTH.PASSWORD' | translate }}"
                 formControlName="password">
        </mat-form-field>

        <button [disabled]="!loginForm.valid"
                class="mr-3 d-block float-right"
                type="submit"
                mat-flat-button
                color="primary">{{ 'AUTH.LOGIN' | translate }}</button>
      </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>




