<h1>{{ title | translate }}</h1>
<div *ngIf="hasEntries" class="mat-elevation-z8">
  <table class="w-100" mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="checkIn">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'MODEL.TIME_ENTRY.CHECK_IN' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.checkIn | date:'dd.MM.yyyy / HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="checkOut">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'MODEL.TIME_ENTRY.CHECK_OUT' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.checkOut | date:'dd.MM.yyyy / HH:mm' }} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'MODEL.TIME_ENTRY.CATEGORY' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{ element.category ? element.category.name : '-' }}</td>
    </ng-container>

    <ng-container *ngIf="displayUserColumn" matColumnDef="user">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'MODEL.TIME_ENTRY.USER' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ formatUser(element.user) }}</td>
    </ng-container>

    <ng-container matColumnDef="hours">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'MODEL.TIME_ENTRY.HOURS' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ differenceInHours(element.checkIn, element.checkOut) }}
        <fa-icon class="ml-3 float-right my-fa-icon-primary"
                 [size]="'1x'"
                 [icon]="faTimes"
                 (click)="onDelete(element.id)"></fa-icon>
        <fa-icon class="float-right my-fa-icon-primary"
                 [size]="'1x'"
                 [icon]="faEdit"
                 (click)="onEdit(element.id)"></fa-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
<div *ngIf="!hasEntries">
  {{ 'GENERAL.NO_DATA' | translate }}
</div>



