<div class="m-5">
  <div class="row">
    <div class="col-3">
      <h1>{{ 'Benutzer einladen' | translate }}</h1>
      <app-icon-card [icon]="faPlus"
                     [route]="superviseInviteUserRoute()"
                     [cardText]="'Benutzer einladen'"></app-icon-card>
      <hspace [amount]="2"></hspace>
    </div>
    <div class="col-9">
      <h1>{{ 'Benutzer' | translate }}</h1>
      <div *ngIf="hasEntries" class="mat-elevation-z8">
        <table class="w-100" mat-table matSort [dataSource]="dataSource">

          <ng-container matColumnDef="firstName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'Vorname' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'Nachname' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'Status' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.status === 'ACTIVE' ? 'Aktiv' : 'Eingeladen' }}
              <fa-icon class="ml-3 float-right my-fa-icon-primary"
                       [size]="'1x'"
                       [icon]="faTimes"
                       (click)="onDelete(element.id)"></fa-icon>
              <fa-icon class="float-right my-fa-icon-primary"
                       [size]="'1x'"
                       [icon]="faEdit"
                       (click)="onEdit(element.id)"></fa-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
      <div *ngIf="!hasEntries">
        {{ 'GENERAL.NO_DATA' | translate }}
      </div>
    </div>
  </div>
</div>



