<div class="m-5">
  <div class="row">
    <div class="col-3">
      <h1>{{ 'INTERCOM.SUPERVISE.USERS' | translate }}</h1>
      <app-icon-card [icon]="faUsers"
                     [route]="superviseUsersRoute()"
                     [cardText]="'INTERCOM.SUPERVISE.USERS'"></app-icon-card>
      <hspace [amount]="2"></hspace>
      <h1>{{ 'INTERCOM.SUPERVISE.CATEGORIES.TITLE' | translate }}</h1>
      <app-icon-card [icon]="faCalendarAlt"
                     [route]="superviseCategoriesRoute()"
                     [cardText]="'INTERCOM.SUPERVISE.CATEGORIES.TITLE'"></app-icon-card>
    </div>
    <div class="col-9">
      <app-time-entries-table *ngIf="(allTimeEntries$ | async) as allTimeEntries"
                              [timeEntries]="allTimeEntries"
                              [title]="'INTERCOM.SUPERVISE.ALL_TIME_ENTRIES'"
                              [displayUserColumn]="true"></app-time-entries-table>
    </div>
  </div>
</div>



