/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-fa-icon-primary {
  color: #0275d8;
}

.my-fa-icon-primary:hover {
  cursor: pointer;
  color: #055fad;
}

.my-fa-icon-primary:focus {
  outline: 0;
}

.my-fa-icon-secondary {
  color: #f7f7f7;
}

.my-fa-icon-secondary:hover {
  cursor: pointer;
  color: #e8e6e6;
}

.my-fa-icon-secondary:focus {
  outline: 0;
}
